<h2>Template: básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form>
            <div class="mb-3 row">
                <label for="producto" class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="producto" placeholder="Nombre del producto">
                    <span class="form-text text-danger">Debe de ser de 3 letras</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="precio" class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="precio" placeholder="precio del producto">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="existencias" class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="existencias" placeholder="Existencias del producto">
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </form>
    </div>
</div>